<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Catalogue</a></li>
    <li class="nav-home" role="menuitem"><a href="https://www.xivmodarchive.com/user/111283">XMA</a></li>
    <li class="nav-home" role="menuitem"><a href="https://www.glamourdresser.com/author/catcraft">TGD</a></li>
    <li class="nav-home" role="menuitem"><a href="https://bsky.app/profile/catcraftxiv.bsky.social">Bluesky</a></li>
    <li class="nav-home" role="menuitem"><a href="https://x.com/catcraftxiv">Twitter</a></li>
    <li class="nav-home" role="menuitem"><a href="https://discord.gg/yPbUXazxQ3">Discord</a></li>
    <!-- Default menu items
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <li class="nav-getting-started" role="menuitem"><a href="{{site.baseurl}}tag/getting-started/">Getting Started</a></li>
    <li class="nav-try-ghost" role="menuitem"><a href="https://ghost.org">Try Ghost</a></li>
    -->
</ul>
