<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Catalogue</a></li>
    <li class="nav-home" role="menuitem"><a href="https://www.xivmodarchive.com/user/111283" target="_blank">XMA</a></li>
    <li class="nav-home" role="menuitem"><a href="https://www.glamourdresser.com/author/catcraft" target="_blank">TGD</a></li>
    <li class="nav-home" role="menuitem"><a href="https://bsky.app/profile/catcraftxiv.bsky.social" target="_blank">Bluesky</a></li>
    <li class="nav-home" role="menuitem"><a href="https://x.com/catcraftxiv" target="_blank">Twitter</a></li>
    <li class="nav-home" role="menuitem"><a href="https://discord.gg/yPbUXazxQ3" target="_blank">Discord</a></li>
	<li class="nav-home" role="menuitem" style="right: 0;position: absolute;"><a href="{{site.baseurl}}tags">Filters</a></li>
    <!-- Default menu items
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <li class="nav-getting-started" role="menuitem"><a href="{{site.baseurl}}tag/getting-started/">Getting Started</a></li>
    <li class="nav-try-ghost" role="menuitem"><a href="https://ghost.org">Try Ghost</a></li>
    -->
</ul>
